@charset "utf-8";
@font-face{
  font-family:'fonte-logo' ;
  src: url("fonts/SiliconeHollow.ttf");
}
@font-face{
  font-family: 'titulo';
  src: url("fonts/spacerangertitleital.ttf");
}
@font-face{
  font-family: 'paragrafo';
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: 'aside';
    src: url("fonts/All\ Star\ Resort.ttf");
}
/*----------------MENU---------------*/
body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-color: #f1a9b4;
  margin-bottom: -50px;
}

li a:hover:not(.active) {
  border: 1px solid #bf40bf;
  background-color: #800080;
  transition: 2s step-end;
  transition-duration: 1s;
  transition: .5s;
  display: block;
  
}

.active {
  font-weight: 500;
}
li {
  text-align: center;
}

/*Carousel*/
img#img1{
  height: 500px;
}
img#img2{
  height: 500px;
}
img#img3{
  height: 500px;
}
img#img4{
  height: 500px;
}
img#img5{
  height: 500px;
}
img#img6{
  height: 500px;
}
/*formatação de texto*/
h4{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  font-family: 'titulo';
}
h4:hover {
  text-decoration: underline;
  cursor: default;
}

h4 p{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  font-family: 'titulo';
}

h5{
  text-shadow: 1px 1px 2px black, 0 0 1em purple, 0 0 0.2em purple;
  font-family: 'aside';
  float: left;
}
h5:hover{
  text-decoration: underline;
  cursor: default;
}


h4#h4-2{
  text-shadow: 1px 1px 2px black, 0 0 1em palevioletred, 0 0 0.2em palevioletred;
  font-family: 'titulo';
}

h4#h4-3{
  text-shadow: 1px 1px 2px black, 0 0 1em purple, 0 0 0.2em purple;
  font-family: 'titulo';
}

h4#h4-4{
  color: black;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em palevioletred, 0 0 0.2em palevioletred;
  font-family: 'titulo';
}

h4#h4-5{
  color: seashell;
  text-shadow: 1px 1px 2px black, 0 0 1em slateblue, 0 0 0.2em slateblue;
  font-family: 'titulo';
}

h4#h4-6{
  color: rgb(0, 120, 255);
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 155, 155) 0 0 0.2em rgb(0, 55, 55);
  font-family: 'titulo';
}

h5#h5-2{
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 1em palevioletred, 0 0 0.2em palevioletred;
  font-family: 'aside';
  float: left;
}

h5#h5-3{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em aqua, 0 0 0.2em aqua;
  font-family: 'aside';
  float: left;
}
/*Section*/
section p {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  text-align: 5%;
  font-size: 13pt;
  font-family: 'paragrafo';
  color: black;
  text-shadow: 2px 1px 2px wheat, 0 0 1em salmon, 0 0 0.2em palevioletred;
}

section h2 {
  text-align: center;
  margin: 2%;
  font-family: 'titulo';
  color: wheat;
  text-shadow: 1px 1px 2px black, 0 0 1em lightcoral, 0 0 0.2em lightcoral;
}
section h3 {
  text-align: center;
  margin: 2%;
  font-family: 'fonte-logo';
  color: black;
  text-shadow: 1px 1px 2px #f08080, 0 0 1em pink;
}
p#copy a {
    text-decoration: none;
    color: aqua;
    text-shadow: 1px 1px 2px black;
}
p#copy a:hover {
    color: yellow;
}
p#autor {
    font-size: 10pt;
    margin-top: -15px;
    text-indent: 4px;
}
p#autor2{
    font-size: 11pt;
    margin-top: -15px;
}
  /*Imagem do section*/
figure#fotolegenda figcaption {

  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em grey, 0 0 0.2em darkgray;
}

figure#fotolegenda h3 {
  font-family: 'aside';
  font-size: 25pt;
  color: black;
}

img#img2{
  width: 1080px;
  padding-top: 20px;
}
img#img1{
  width: 1080px;
}
/*Rodapé*/
footer#rodape{
  background-color: #333;
  text-align: center;
  margin-top: 50px;
}

footer a {
  color: plum;
  text-decoration: none;
  position: relative;
  top: -10px;
}

footer a:hover{
  color: crimson;
  text-decoration: underline;
}

h5#modaltitulo{
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px white;
  font-family: 'titulo';
  font-size: 11pt;
  border-style: solid;
  border-color: #333;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

a#formulariop{
  text-decoration: none;
}
div#senha{
  padding-top: 12px;
}
div#data{
  margin-left: -16px;
  padding-right: 200px;
}
button#button1{
  margin-right: 10px;
}
button#button2{
  margin-left: 5px;
  margin-right: 10px;
}
button#button3{
  margin-left: 3px;
}
/*ALBUM DE FOTOS*/
ul#album-fotos{

  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}
ul#album-fotos li{
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  background-color: whitesmoke;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  transition: all .5s ease-out;
}
/*imagens*/
ul#album-fotos li#foto01 {
  background: url('img/background.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1920px 1200px;
}

ul#album-fotos li#foto02 {
  background: url('img/home.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1280px 720px;
}
ul#album-fotos li#foto03 {
  background: url('img/purple2.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 640px 853px;
}
ul#album-fotos li#foto04 {
  background: url('img/perfect.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 640px 640px;
}
ul#album-fotos li#foto05 {
  background: url('img/SMoon.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 697px 537px;
}
ul#album-fotos li#foto06 {
  background: url('img/tokyo2.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1820px 1226px;
}
ul#album-fotos li#foto07 {
  background: url('img/rua.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1400px 933px;
}
ul#album-fotos li#foto08 {
  background: url('img/amanhecer.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1820px 720px ;
}
ul#album-fotos li#foto09 {
  background: url('img/monica.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 1920px 1080px;
}
ul#album-fotos li#foto10 {
  background: url('img/SMoon\ 2.jpg') no-repeat;
  background-position: 50% 50%;
  background-color: #333;
  background-size: 540px 400px;
}
/*Efeito*/

ul#album-fotos li#foto01:hover{
background-position: 0px 0px;
background-size: 200px 200px;
}

ul#album-fotos li#foto02:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto03:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto04:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto05:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto06:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto07:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto08:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto09:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto10:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
/*Efeito 2 */
ul#album-fotos li:hover{
  transform: scale(1.5);
  transition: all 1s ease-in;
}
/*legenda*/
ul#album-fotos li span {
opacity: 0;
color: whitesmoke;
text-shadow: 2px 2px 2px black;


padding: 5px;
}
ul#album-fotos li:hover span{
  opacity: 1;
}

div#video p {
  text-align: center;
}
p#titulo-video{
  text-align: center;
  font-size: 15pt;
  padding: 5px;
}